@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --color-primary: #000;
  --color-primaryGray: #d1d5db;
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: sans-serif;
  font-weight: 700;
  /* color: #374151; */
}

.font-dela {
  font-family: var(--font-dela-gothic);
  font-weight: 500;
  font-style: normal;
}

.font-caveat {
  font-family: var(--font-caveat);
  font-weight: 800;
  font-style: normal;
  letter-spacing: 15px;
}

.font-nunito {
  font-family: var(--font-nunito);
}

.font-noto {
  font-family: var(--font-noto);
}

/* .font-dela {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 500;
  font-style: normal;
} */

/* .caveat-brush {
  font-family: "Caveat Brush", cursive;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 15px;
} */

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  white-space: pre;
  font-size: 30px;
  line-height: 1.2em;
  height: 1.2em;
  overflow: hidden;
}

.loader:before {
  content: "Loading...\AgodnLai...\Aoiaglni...\ALiongad...\Agindola...\Analoidg...";
  white-space: pre;
  display: inline-block;
  animation: l38 1s infinite steps(6);
}

@keyframes l38 {
  100% {
    transform: translateY(-100%)
  }
}

.lienchiang_country,
.yilan_country,
.changhua_country,
.nantou_country,
.yunlin_country,
.pingtung_country,
.keelung_city,
.hsinchu_city,
.taipei_city,
.new_taipei_city,
.taichung_city,
.tainan_city,
.taoyuan_city,
.miaoli_country,
.hsinchu_country,
.chiayi_city,
.chiayi_country,
.kaohsiung_city,
.taitung_country,
.hualien_country,
.penghu_country,
.kinmen_country {
  stroke: #000;
  fill: transparent;
  transition: 0.5s;
}

.lienchiang_country:hover,
.yilan_country:hover,
.changhua_country:hover,
.nantou_country:hover,
.yunlin_country:hover,
.pingtung_country:hover,
.keelung_city:hover,
.hsinchu_city:hover,
.taipei_city:hover,
.new_taipei_city:hover,
.taichung_city:hover,
.tainan_city:hover,
.taoyuan_city:hover,
.miaoli_country:hover,
.hsinchu_country:hover,
.chiayi_city:hover,
.chiayi_country:hover,
.kaohsiung_city:hover,
.taitung_country:hover,
.hualien_country:hover,
.penghu_country:hover,
.kinmen_country:hover {
  fill: #B99362;
  transform: translate(-5px, -5px);
}

.dark .lienchiang_country,
.dark .yilan_country,
.dark .changhua_country,
.dark .nantou_country,
.dark .yunlin_country,
.dark .pingtung_country,
.dark .keelung_city,
.dark .hsinchu_city,
.dark .taipei_city,
.dark .new_taipei_city,
.dark .taichung_city,
.dark .tainan_city,
.dark .taoyuan_city,
.dark .miaoli_country,
.dark .hsinchu_country,
.dark .chiayi_city,
.dark .chiayi_country,
.dark .kaohsiung_city,
.dark .taitung_country,
.dark .hualien_country,
.dark .penghu_country,
.dark .kinmen_country {
  stroke: #fff;
}

.cityClicked {
  fill: #B99362;
  transform: translate(-5px, -5px);
}

/* .sideNav {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: rgb(11, 16, 19, .8);
  overflow-y: hidden;
  transition: 0.5s;
  display: flex;
}

.sideNav a {
  padding: 32px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
  transition: 0.3s;
  display: block;
}

.sideNav a:hover {
  color: #2894ff;
} */